[submodule "app/misc/lualib-src/luafilesystem"]
	path = app/misc/lualib-src/luafilesystem
	url = https://github.com/keplerproject/luafilesystem
[submodule "app/misc/lualib-src/lua-protobuf"]
	path = app/misc/lualib-src/lua-protobuf
	url = https://github.com/starwing/lua-protobuf
[submodule "app/misc/lualib-src/luasql"]
	path = app/misc/lualib-src/luasql
	url = https://github.com/keplerproject/luasql
[submodule "app/misc/lualib-src/luasocket"]
	path = app/misc/lualib-src/luasocket
	url = https://github.com/diegonehab/luasocket
[submodule "dependencies/plain"]
	path = dependencies/plain
	url = https://github.com/viticm/plain
